# Examen Unidad 3
## Parte 1
Responde a las siguientes cuestiones en las celdas correspondientes.
Antes de realizar los ejercicios sube la el contenido de la carpeta "data" a /user/jovyan/data
hdfs dfs -mkdir -p /user/jovyan/data (si fuera necesario)
hdfs dfs -put /home/jovyan/work/data/* /user/jovyan/data

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("01-rddej1") \
    .config("spark.eventLog.enabled", "true") \
    .config("spark.eventLog.dir", "hdfs:///spark/logs/history") \
    .config("spark.history.fs.logDirectory", "hdfs:///spark/logs/history") \
    .getOrCreate()

spark.version  # Verifica la versión de Spark

#spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

1. Ejercicio1:
   - a. Crea un rdd llamado rdd_int con los enteros del 0 al 50 (0,5)
   - b. Muestra los 10 primeros elementos (0,5)
   - c. Muestra cuantos elementos son múltiplos de 5 (0,5).

In [6]:
# a)

In [8]:
# b)

In [9]:
# c)

2. Realiza las siguientes acciones.
   - a) Crea un rdd de pares (palabra, 1) llamado rdd_libro a partir del fichero TheFelloshipOfTherRing.txt (0,5)
   - b) Muestra las ocurrencias de cada palabra. (0,5)

In [4]:
# a)

In [5]:
# b)

3. Realiza las siguientes operaciones con Dataframes:
   - a. Crea un dataframe llamado sales_df a partir del fichero *salesdata/Sales_April_2019.csv* teniendo en cuenta la cabecera e infiriendo el esquema.  (0,5)
   - b. Muestra los 10 primeros elementos. (0,5)
   - c. Añade una columna *Total* que multiplique "Quantity Ordered" por "Price Each". (0,5)
   - d. A partir del DF anterior suma la columna "Total" agrupando por "Product".  (1)

In [26]:
# a)
df_csv = spark.read.option("header", True).option("inferSchema","true").csv('hdfs:///user/jovyan/data/salesdata/Sales_April_2019.csv')
df_csv.show()
df_csv.printSchema()

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|
|    NULL|                NULL|            NULL|      NULL|          NULL|                NULL|
|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|     600.0|04/12/19 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|    1700.0|04/24/19 10:38|915 Willow St, Sa...|
|  176566|    Wired Headphones|               1|     11.99|04/08/19 14:05|83 7th St, Boston...|
|  176567|        Google Phone|               1|     600.0|04/18/19 17:18|444 7th St, Los A...|
|  176568|Lightning Chargin...|               1|     14.95|04/15/19 12:18|438 Elm St, Seatt...|
|  176569|27in 4K Gaming Mo...|               1|    389.99|04/16/19 19:23|657 Hill St, Dall...|
|  176570|AA Batteries (4-p...|               1|      3.84|04/22/19 15:09|186 12th St, Dall...|
|  176571|Lightning Chargin...|               1|     14.95|04/19/19 14:29|253 Johnson St, A...|
|  176572|Apple Airpods Hea...|               1|     150.0|04/04/19 20:30|149 Dogwood St, N...|
|  176573|USB-C Charging Cable|               1|     11.95|04/27/19 18:41|214 Chestnut St, ...|
|  176574|        Google Phone|               1|     600.0|04/03/19 19:42|20 Hill St, Los A...|
|  176574|USB-C Charging Cable|               1|     11.95|04/03/19 19:42|20 Hill St, Los A...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 20 rows

root
 |-- Order ID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity Ordered: integer (nullable = true)
 |-- Price Each: double (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Purchase Address: string (nullable = true)

In [6]:
# b)
df_csv.show(10)

+--------+--------------------+----------------+----------+--------------+--------------------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address|
+--------+--------------------+----------------+----------+--------------+--------------------+
|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|
|    NULL|                NULL|            NULL|      NULL|          NULL|                NULL|
|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...|
|  176560|        Google Phone|               1|     600.0|04/12/19 14:38|669 Spruce St, Lo...|
|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...|
|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...|
|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...|
|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...|
|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...|
|  176565|  Macbook Pro Laptop|               1|    1700.0|04/24/19 10:38|915 Willow St, Sa...|
+--------+--------------------+----------------+----------+--------------+--------------------+
only showing top 10 rows

In [11]:
# c)
from pyspark.sql.functions import expr
df_total = df_csv.withColumn("Total", expr("`Price Each`* `Quantity Ordered`"))
df_total.show()

+--------+--------------------+----------------+----------+--------------+--------------------+------+
|Order ID|             Product|Quantity Ordered|Price Each|    Order Date|    Purchase Address| Total|
+--------+--------------------+----------------+----------+--------------+--------------------+------+
|  176558|USB-C Charging Cable|               2|     11.95|04/19/19 08:46|917 1st St, Dalla...|  23.9|
|    NULL|                NULL|            NULL|      NULL|          NULL|                NULL|  NULL|
|  176559|Bose SoundSport H...|               1|     99.99|04/07/19 22:30|682 Chestnut St, ...| 99.99|
|  176560|        Google Phone|               1|     600.0|04/12/19 14:38|669 Spruce St, Lo...| 600.0|
|  176560|    Wired Headphones|               1|     11.99|04/12/19 14:38|669 Spruce St, Lo...| 11.99|
|  176561|    Wired Headphones|               1|     11.99|04/30/19 09:27|333 8th St, Los A...| 11.99|
|  176562|USB-C Charging Cable|               1|     11.95|04/29/19 13:03|381 Wilson St, Sa...| 11.95|
|  176563|Bose SoundSport H...|               1|     99.99|04/02/19 07:46|668 Center St, Se...| 99.99|
|  176564|USB-C Charging Cable|               1|     11.95|04/12/19 10:58|790 Ridge St, Atl...| 11.95|
|  176565|  Macbook Pro Laptop|               1|    1700.0|04/24/19 10:38|915 Willow St, Sa...|1700.0|
|  176566|    Wired Headphones|               1|     11.99|04/08/19 14:05|83 7th St, Boston...| 11.99|
|  176567|        Google Phone|               1|     600.0|04/18/19 17:18|444 7th St, Los A...| 600.0|
|  176568|Lightning Chargin...|               1|     14.95|04/15/19 12:18|438 Elm St, Seatt...| 14.95|
|  176569|27in 4K Gaming Mo...|               1|    389.99|04/16/19 19:23|657 Hill St, Dall...|389.99|
|  176570|AA Batteries (4-p...|               1|      3.84|04/22/19 15:09|186 12th St, Dall...|  3.84|
|  176571|Lightning Chargin...|               1|     14.95|04/19/19 14:29|253 Johnson St, A...| 14.95|
|  176572|Apple Airpods Hea...|               1|     150.0|04/04/19 20:30|149 Dogwood St, N...| 150.0|
|  176573|USB-C Charging Cable|               1|     11.95|04/27/19 18:41|214 Chestnut St, ...| 11.95|
|  176574|        Google Phone|               1|     600.0|04/03/19 19:42|20 Hill St, Los A...| 600.0|
|  176574|USB-C Charging Cable|               1|     11.95|04/03/19 19:42|20 Hill St, Los A...| 11.95|
+--------+--------------------+----------------+----------+--------------+--------------------+------+
only showing top 20 rows

In [13]:
# d)
from pyspark.sql.functions import sum
df_total.groupBy("Product").sum("Total").show()

[Stage 9:>                                                          (0 + 1) / 1]

+--------------------+------------------+
|             Product|        sum(Total)|
+--------------------+------------------+
|    Wired Headphones|24771.340000000666|
|  Macbook Pro Laptop|          773500.0|
|Apple Airpods Hea...|          228750.0|
|              iPhone|          486500.0|
|                NULL|              NULL|
|Lightning Chargin...|35446.450000000594|
|Bose SoundSport H...|128787.12000000282|
|USB-C Charging Cable|27126.500000000975|
|AAA Batteries (4-...|  8778.63999999968|
|        20in Monitor|43446.050000000025|
|    27in FHD Monitor|110542.63000000129|
|     Vareebadd Phone|           88000.0|
|34in Ultrawide Mo...| 248133.4699999979|
|            LG Dryer|           46200.0|
|AA Batteries (4-p...|10836.480000000263|
|        Google Phone|          348600.0|
|       Flatscreen TV|          137700.0|
|  LG Washing Machine|           36600.0|
|             Product|              NULL|
|27in 4K Gaming Mo...| 220344.3499999987|
+--------------------+------------------+
only showing top 20 rows

4.Realiza las siguientes acciones:
   - a. Lee los archivos movies.tsv y movie-ratings.tsv infiriendo el esquema y con cabeceras activadas. Usa también la siguiente opción: option("delimiter", "\t"). Almacena el resultado en movies_df y ratings_df respectivamente. (0,25)
   - b. Realiza un inner join sobre el campo "Title" almacenando el resultado como join_df. (0,25)
   - c. Crea un nuevo Dataframe (result_df) a partir de join_df agrupando por "Director" y calculando la media de "Rating".  (0,25)
   - d. Almacena result_df en formato json en el directorio /user/jovyan/salida_examen.  (0,25)

In [21]:
movies_df = spark.read.option("delimiter", "\t").option("header", True).option("inferSchema","true").csv('hdfs:///user/jovyan/data/movies.tsv')
movies_df.printSchema()
movies_df.show()

ratings_df = spark.read.option("delimiter", "\t").option("header", True).option("inferSchema","true").csv('hdfs:///user/jovyan/data/movie-ratings.tsv')
ratings_df.printSchema()
ratings_df.show()

root
 |-- Director: string (nullable = true)
 |-- Title: string (nullable = true)
 |-- Year: integer (nullable = true)

+-----------------+--------------------+----+
|         Director|               Title|Year|
+-----------------+--------------------+----+
|McClure, Marc (I)|       Freaky Friday|2003|
|McClure, Marc (I)|        Coach Carter|2005|
|McClure, Marc (I)|         Superman II|1980|
|McClure, Marc (I)|           Apollo 13|1995|
|McClure, Marc (I)|            Superman|1978|
|McClure, Marc (I)|  Back to the Future|1985|
|McClure, Marc (I)|Back to the Futur...|1990|
|Cooper, Chris (I)|  Me, Myself & Irene|2000|
|Cooper, Chris (I)|         October Sky|1999|
|Cooper, Chris (I)|              Capote|2005|
|Cooper, Chris (I)|The Bourne Supremacy|2004|
|Cooper, Chris (I)|         The Patriot|2000|
|Cooper, Chris (I)|            The Town|2010|
|Cooper, Chris (I)|          Seabiscuit|2003|
|Cooper, Chris (I)|      A Time to Kill|1996|
|Cooper, Chris (I)|Where the Wild Th...|2009|
|Cooper, Chris (I)|         The Muppets|2011|
|Cooper, Chris (I)|     American Beauty|1999|
|Cooper, Chris (I)|             Syriana|2005|
|Cooper, Chris (I)| The Horse Whisperer|1998|
+-----------------+--------------------+----+
only showing top 20 rows

root
 |-- Rating: double (nullable = true)
 |-- Title: string (nullable = true)
 |-- Year: integer (nullable = true)

+-------+--------------------+----+
| Rating|               Title|Year|
+-------+--------------------+----+
| 1.6339|'Crocodile' Dunde...|1988|
| 7.6177|                  10|1979|
| 1.2864|10 Things I Hate ...|1999|
| 0.3243|           10,000 BC|2008|
| 0.3376|      101 Dalmatians|1996|
| 0.5218|      102 Dalmatians|2000|
|12.8205|                1066|2012|
| 0.6829|                  12|2007|
| 7.4061|           12 Rounds|2009|
| 2.3677|           127 Hours|2010|
| 1.3585|      13 Going on 30|2004|
| 8.4034|     13 game sayawng|2006|
|   0.59|                1408|2007|
| 4.4292|          15 Minutes|2001|
| 2.2118|           16 Blocks|2006|
| 1.0491|            17 Again|2009|
| 3.9265|                1941|1979|
|10.4757|2 Days in the Valley|1996|
|    0.4|    2 Fast 2 Furious|2003|
|11.1111|              2 Guns|2013|
+-------+--------------------+----+
only showing top 20 rows

In [23]:
join_df = movies_df.join(ratings_df,"title","inner")
join_df.show()

+--------------------+-----------------+----+------+----+
|               Title|         Director|Year|Rating|Year|
+--------------------+-----------------+----+------+----+
|       Freaky Friday|McClure, Marc (I)|2003|0.3847|2003|
|        Coach Carter|McClure, Marc (I)|2005|0.9858|2005|
|         Superman II|McClure, Marc (I)|1980|0.8739|1980|
|           Apollo 13|McClure, Marc (I)|1995|1.0267|1995|
|            Superman|McClure, Marc (I)|1978|1.1982|1978|
|  Back to the Future|McClure, Marc (I)|1985|0.1904|1985|
|Back to the Futur...|McClure, Marc (I)|1990| 1.678|1990|
|  Me, Myself & Irene|Cooper, Chris (I)|2000|0.5611|2000|
|         October Sky|Cooper, Chris (I)|1999| 1.603|1999|
|              Capote|Cooper, Chris (I)|2005|1.9389|2005|
|The Bourne Supremacy|Cooper, Chris (I)|2004|0.3015|2004|
|         The Patriot|Cooper, Chris (I)|2000|0.5363|2000|
|            The Town|Cooper, Chris (I)|2010|0.7352|2010|
|          Seabiscuit|Cooper, Chris (I)|2003|0.4242|2003|
|      A Time to Kill|Cooper, Chris (I)|1996|0.4878|1996|
|Where the Wild Th...|Cooper, Chris (I)|2009|0.7966|2009|
|         The Muppets|Cooper, Chris (I)|2011| 0.668|2011|
|     American Beauty|Cooper, Chris (I)|1999|0.2136|1999|
|             Syriana|Cooper, Chris (I)|2005|0.9458|2005|
| The Horse Whisperer|Cooper, Chris (I)|1998|0.5985|1998|
+--------------------+-----------------+----+------+----+
only showing top 20 rows

In [25]:
from pyspark.sql.functions import avg
join_df.groupBy("Director").avg("rating").show()

[Stage 48:>                                                         (0 + 1) / 1]

+--------------------+-------------------+
|            Director|        avg(rating)|
+--------------------+-------------------+
|    Branson, Richard|           2.410025|
|      Craig, Georgia| 1.0695333333333334|
|        Rossum, Emmy|           0.519075|
|  Ironbear, Mylo (I)|             0.4139|
|        Fiddy, James| 0.6698666666666666|
|   Bosco, Philip (I)| 0.8079000000000001|
|     Spencer, Chaske|0.15793333333333334|
|            Rule, Ja|0.43706666666666666|
|Bishop, Stephen (II)| 0.9120857142857143|
|       Bannos, Steve| 0.9788400000000002|
|       Lester, Loren|             0.7995|
|      Mercurio, Tara| 0.9366666666666666|
|     Abadie, William|               0.89|
|  Taylor, Sandra (I)| 0.7988857142857142|
|MacKay, Michael Reid|           0.977425|
|Nichols, Jonathan...|            0.91915|
|         Krupa, Olek| 0.8565111111111111|
|        Hunt, Bonnie| 0.5260583333333333|
|      Thornton, Kirk| 0.9596333333333332|
|      Smigel, Robert|           0.838975|
+--------------------+-------------------+
only showing top 20 rows

5. Crea un programa (ratings.py) que contenga el código del anterior ejercicio. (recuerda crear la SparkSession de forma correcta e importar todo lo necesario. Entregar, eun archivo pdf a parte (ejercicio5.pdf):
   - a. Captura de pantalla del programa. (0,5)
   - b. Primeras y últimas líneas de la ejecución en modo clúster.(0,5)