# Ejercicios Dataframes 2
Realiza los siguientes ejercicios. Soluciona cada uno de ellos empleando la DataFrame API y Spark SQL
1. Inicializa la variable spark (0)

In [ ]:
#DataFrame API
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

#SQL

2. Crea un dataframe llamado mi_df con los datos del archivo *data/retail-data/all/online-retail-dataset.csv* (0)

In [ ]:
#DataFrame API
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType
# Definir el esquema


# Leer el archivo CSV con el esquema especificado

#SQL

3. Cuenta el número de celdas totales

In [ ]:
#DataFrame API


#SQL

4. Cuenta el número de "invoiceNo" distintos

In [ ]:
#DataFrame API


#SQL

5. Obtén el número de factura más bajo y el más alto

In [ ]:
#DataFrame API


#SQL

6. Obtén la suma de todos los importes unitarios de los productos vendidos en el Reino Unido

In [ ]:
#DataFrame API


#SQL

7. Obtén la media de todos los importes unitarios de los productos vendidos en el Reino Unido

In [ ]:
#DataFrame API


#SQL

8. Obtén la el número total de productos vendidos (quantity) agrupado por países (muestra los 10 primeros)

In [ ]:
#DataFrame API


#SQL

9. Obtén la media de los precios unitarios de los productos vendidos agrupada por países

In [ ]:
#DataFrame API


#SQL

10. Obtén el importe total (quantity * unit price) agrupado por número de factura (invoiceNo)

In [ ]:
from pyspark.sql.functions import expr
#DataFrame API

#SQL

11. Crea un DataFrame para cada archivo de notas (notas_fisica, notas_ingles y notas_matemáticas). Realiza un Join que genere un DataFrame mostrando las tres notas para cada alumno. (sólo mostrar los alumnos que tengan nota en las 3 asignaturas)

In [ ]:
#DataFrame API
from pyspark.sql.functions import col


#SQL

12. Crea un DataFrame para cada archivo de notas (notas_fisica, notas_ingles y notas_matemáticas). Realiza un Join que genere un DataFrame mostrando las tres notas para cada alumno. Si a un alumno le falta alguna de las notas aparecerá el valor NULL

In [ ]:
#DataFrame API


#SQL