In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("05-Dataframes-ej03") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .config("spark.eventLog.enabled", "true") \
    .config("spark.eventLog.dir", "hdfs:///spark/logs/history") \
    .config("spark.history.fs.logDirectory", "hdfs:///spark/logs/history") \
    .getOrCreate()
sc = spark.sparkContext

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

1. A partir de los ficheros csv presentes en /user/jovyan/data/salesdata crea un dataframe y añádele una columna date a partir de la columna `Order Date` que tenga fecha pero no hora. El dataframe resultado se llamará df_con_fecha:

In [10]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, TimestampType
from pyspark.sql.functions import to_timestamp, date_format, col
schema = StructType([
    StructField("Order ID", StringType(), True),          # Pode haber valores nulos
    StructField("Product", StringType(), True),
    StructField("Quantity Ordered", IntegerType(), True), # Ten que converterse a número
    StructField("Price Each", DoubleType(), True),        # Prezo decimal
    StructField("Order Date", StringType(), True),        # Podemos converter a Timestamp máis tarde
    StructField("Purchase Address", StringType(), True)
])

df = spark.read \
    .option("header", True) \
    .option("mode", "DROPMALFORMED") \
    .schema(schema) \
    .csv("hdfs:/user/jovyan/data/salesdata")
df_con_fecha = df.withColumn("date", date_format(to_timestamp(col("Order Date"), "MM/d/yyyy H:mm"), "yyyy-MM-dd")).drop("Order Date")
df_con_fecha.show()

+--------+--------------------+----------------+----------+--------------------+----------+
|Order ID|             Product|Quantity Ordered|Price Each|    Purchase Address|      date|
+--------+--------------------+----------------+----------+--------------------+----------+
|  295665|  Macbook Pro Laptop|               1|    1700.0|136 Church St, Ne...|0019-12-30|
|  295666|  LG Washing Machine|               1|     600.0|562 2nd St, New Y...|0019-12-29|
|  295667|USB-C Charging Cable|               1|     11.95|277 Main St, New ...|0019-12-12|
|  295668|    27in FHD Monitor|               1|    149.99|410 6th St, San F...|0019-12-22|
|  295669|USB-C Charging Cable|               1|     11.95|43 Hill St, Atlan...|0019-12-18|
|  295670|AA Batteries (4-p...|               1|      3.84|200 Jefferson St,...|0019-12-31|
|  295671|USB-C Charging Cable|               1|     11.95|928 12th St, Port...|0019-12-16|
|  295672|USB-C Charging Cable|               2|     11.95|813 Hickory St, D...|0019-12-13|
|  295673|Bose SoundSport H...|               1|     99.99|718 Wilson St, Da...|0019-12-15|
|  295674|AAA Batteries (4-...|               4|      2.99|77 7th St, Dallas...|0019-12-28|
|  295675|USB-C Charging Cable|               2|     11.95|594 1st St, San F...|0019-12-13|
|  295676|     ThinkPad Laptop|               1|    999.99|410 Lincoln St, L...|0019-12-28|
|  295677|AA Batteries (4-p...|               2|      3.84|866 Pine St, Bost...|0019-12-20|
|  295678|AAA Batteries (4-...|               2|      2.99|187 Lincoln St, D...|0019-12-06|
|  295679|USB-C Charging Cable|               1|     11.95|902 2nd St, Dalla...|0019-12-25|
|  295680|Lightning Chargin...|               1|     14.95|338 Main St, Aust...|0019-12-01|
|  295681|        Google Phone|               1|     600.0|79 Elm St, Boston...|0019-12-25|
|  295681|USB-C Charging Cable|               1|     11.95|79 Elm St, Boston...|0019-12-25|
|  295681|Bose SoundSport H...|               1|     99.99|79 Elm St, Boston...|0019-12-25|
|  295681|    Wired Headphones|               1|     11.99|79 Elm St, Boston...|0019-12-25|
+--------+--------------------+----------------+----------+--------------------+----------+
only showing top 20 rows

2. Crea una especificación de ventana (*windowSpec*) particionando por *Order ID* y *date*, ordenando descendentemente por *Quantity Ordered*. Se debe incluir en el marco todas las entradas anteriores a la actual.

In [11]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc

windowSpec = Window\
    .partitionBy("Order ID", "date")\
    .orderBy(desc("Quantity Ordered"))\
    .rowsBetween(Window.unboundedPreceding, Window.currentRow)

3. Crea una agregación que calcule la cantidad (*Quantity Ordered*) media para todos los tiempos.

In [16]:
from pyspark.sql.functions import avg

avgQuantity =avg(col("Quantity Ordered")).over(windowSpec)

4. Crea dos *rankings*, uno denso y el otro no.

In [17]:
from pyspark.sql.functions import dense_rank, rank
denseRank = dense_rank().over(windowSpec)
rank = rank().over(windowSpec)

df_con_fecha.show()

+--------+--------------------+----------------+----------+--------------------+----------+
|Order ID|             Product|Quantity Ordered|Price Each|    Purchase Address|      date|
+--------+--------------------+----------------+----------+--------------------+----------+
|  295665|  Macbook Pro Laptop|               1|    1700.0|136 Church St, Ne...|0019-12-30|
|  295666|  LG Washing Machine|               1|     600.0|562 2nd St, New Y...|0019-12-29|
|  295667|USB-C Charging Cable|               1|     11.95|277 Main St, New ...|0019-12-12|
|  295668|    27in FHD Monitor|               1|    149.99|410 6th St, San F...|0019-12-22|
|  295669|USB-C Charging Cable|               1|     11.95|43 Hill St, Atlan...|0019-12-18|
|  295670|AA Batteries (4-p...|               1|      3.84|200 Jefferson St,...|0019-12-31|
|  295671|USB-C Charging Cable|               1|     11.95|928 12th St, Port...|0019-12-16|
|  295672|USB-C Charging Cable|               2|     11.95|813 Hickory St, D...|0019-12-13|
|  295673|Bose SoundSport H...|               1|     99.99|718 Wilson St, Da...|0019-12-15|
|  295674|AAA Batteries (4-...|               4|      2.99|77 7th St, Dallas...|0019-12-28|
|  295675|USB-C Charging Cable|               2|     11.95|594 1st St, San F...|0019-12-13|
|  295676|     ThinkPad Laptop|               1|    999.99|410 Lincoln St, L...|0019-12-28|
|  295677|AA Batteries (4-p...|               2|      3.84|866 Pine St, Bost...|0019-12-20|
|  295678|AAA Batteries (4-...|               2|      2.99|187 Lincoln St, D...|0019-12-06|
|  295679|USB-C Charging Cable|               1|     11.95|902 2nd St, Dalla...|0019-12-25|
|  295680|Lightning Chargin...|               1|     14.95|338 Main St, Aust...|0019-12-01|
|  295681|        Google Phone|               1|     600.0|79 Elm St, Boston...|0019-12-25|
|  295681|USB-C Charging Cable|               1|     11.95|79 Elm St, Boston...|0019-12-25|
|  295681|Bose SoundSport H...|               1|     99.99|79 Elm St, Boston...|0019-12-25|
|  295681|    Wired Headphones|               1|     11.99|79 Elm St, Boston...|0019-12-25|
+--------+--------------------+----------------+----------+--------------------+----------+
only showing top 20 rows

5. Muestra las filas donde *Order ID* no es NULL, ordenadas por *Order ID*. Se deben mostrar los campos *Order ID*, *Product* y *date* así como los dos *rankings* y la función de agregación.

In [18]:
df_con_fecha.where(col("Order ID").isNotNull()).orderBy("Order ID")\
  .select(
    col("Order ID"),
    col("Product"),
    col("date"),
    rank.alias("rank"),
    denseRank.alias("denseRank"),
    avgQuantity.alias("avgQuantity")).show()

[Stage 6:=============================>                             (1 + 1) / 2]

+--------+--------------------+----------+----+---------+-----------+
|Order ID|             Product|      date|rank|denseRank|avgQuantity|
+--------+--------------------+----------+----+---------+-----------+
|  141234|              iPhone|0019-01-22|   1|        1|        1.0|
|  141235|Lightning Chargin...|0019-01-28|   1|        1|        1.0|
|  141236|    Wired Headphones|0019-01-17|   1|        1|        2.0|
|  141237|    27in FHD Monitor|0019-01-05|   1|        1|        1.0|
|  141238|    Wired Headphones|0019-01-25|   1|        1|        1.0|
|  141239|AAA Batteries (4-...|0019-01-29|   1|        1|        1.0|
|  141240|27in 4K Gaming Mo...|0019-01-26|   1|        1|        1.0|
|  141241|USB-C Charging Cable|0019-01-05|   1|        1|        1.0|
|  141242|Bose SoundSport H...|0019-01-01|   1|        1|        1.0|
|  141243|Apple Airpods Hea...|0019-01-22|   1|        1|        1.0|
|  141244|Apple Airpods Hea...|0019-01-07|   1|        1|        1.0|
|  141245|  Macbook Pro Laptop|0019-01-31|   1|        1|        1.0|
|  141246|AAA Batteries (4-...|0019-01-09|   1|        1|        3.0|
|  141247|    27in FHD Monitor|0019-01-25|   1|        1|        1.0|
|  141248|       Flatscreen TV|0019-01-03|   1|        1|        1.0|
|  141249|    27in FHD Monitor|0019-01-05|   1|        1|        1.0|
|  141250|     Vareebadd Phone|0019-01-10|   1|        1|        1.0|
|  141251|Apple Airpods Hea...|0019-01-24|   1|        1|        1.0|
|  141252|USB-C Charging Cable|0019-01-30|   1|        1|        1.0|
|  141253|AA Batteries (4-p...|0019-01-17|   1|        1|        1.0|
+--------+--------------------+----------+----+---------+-----------+
only showing top 20 rows

6. Importa el archivo *hdfs:///user/jovyan/data/bike-data/201508_station_data.csv* incluyendo cabeceras e infiriendo el esquema a un *dataframe* llamado *df_estaciones*.

In [2]:
df_estaciones = spark.read \
    .option("header", True) \
    .option("inferSchema", True) \
    .csv("hdfs:///user/jovyan/data/bike-data/201508_station_data.csv").drop()

df_estaciones.show()

+----------+--------------------+---------+-----------+---------+------------+------------+
|station_id|                name|      lat|       long|dockcount|    landmark|installation|
+----------+--------------------+---------+-----------+---------+------------+------------+
|         2|San Jose Diridon ...|37.329732|-121.901782|       27|    San Jose|    8/6/2013|
|         3|San Jose Civic Ce...|37.330698|-121.888979|       15|    San Jose|    8/5/2013|
|         4|Santa Clara at Al...|37.333988|-121.894902|       11|    San Jose|    8/6/2013|
|         5|    Adobe on Almaden|37.331415|  -121.8932|       19|    San Jose|    8/5/2013|
|         6|    San Pedro Square|37.336721|-121.894074|       15|    San Jose|    8/7/2013|
|         7|Paseo de San Antonio|37.333798|-121.886943|       15|    San Jose|    8/7/2013|
|         8| San Salvador at 1st|37.330165|-121.885831|       15|    San Jose|    8/5/2013|
|         9|           Japantown|37.348742|-121.894715|       15|    San Jose|    8/5/2013|
|        10|  San Jose City Hall|37.337391|-121.886995|       15|    San Jose|    8/6/2013|
|        11|         MLK Library|37.335885| -121.88566|       19|    San Jose|    8/6/2013|
|        12|SJSU 4th at San C...|37.332808|-121.883891|       19|    San Jose|    8/7/2013|
|        13|       St James Park|37.339301|-121.889937|       15|    San Jose|    8/6/2013|
|        14|Arena Green / SAP...|37.332692|-121.900084|       19|    San Jose|    8/5/2013|
|        16|SJSU - San Salvad...|37.333955|-121.877349|       15|    San Jose|    8/7/2013|
|        21|   Franklin at Maple|37.481758|-122.226904|       15|Redwood City|   8/12/2013|
|        22|Redwood City Calt...|37.486078|-122.232089|       25|Redwood City|   8/15/2013|
|        23|San Mateo County ...|37.487616|-122.229951|       15|Redwood City|   8/15/2013|
|        24|Redwood City Publ...|37.484219|-122.227424|       15|Redwood City|   8/12/2013|
|        25|Stanford in Redwo...| 37.48537|-122.203288|       15|Redwood City|   8/12/2013|
|        26|Redwood City Medi...|37.487682|-122.223492|       15|Redwood City|   8/12/2013|
+----------+--------------------+---------+-----------+---------+------------+------------+
only showing top 20 rows

7. Crea una agregación que sume la columna *dockcount* agregando por *landmark* y *station_id* empleando *GROUPING SETS*.

In [3]:
df_estaciones.createOrReplaceTempView("estaciones")
spark.sql("""
    SELECT 
        landmark, 
        station_id, 
        SUM(dockcount) AS total_docks
    FROM estaciones
    GROUP BY GROUPING SETS (
        (landmark, 
        station_id)
    )
    ORDER BY landmark, station_id
""").show()

+-------------+----------+-----------+
|     landmark|station_id|total_docks|
+-------------+----------+-----------+
|Mountain View|        27|         15|
|Mountain View|        28|         23|
|Mountain View|        29|         23|
|Mountain View|        30|         15|
|Mountain View|        31|         15|
|Mountain View|        32|         11|
|Mountain View|        33|         15|
|    Palo Alto|        34|         23|
|    Palo Alto|        35|         11|
|    Palo Alto|        36|         15|
|    Palo Alto|        37|         11|
|    Palo Alto|        38|         15|
| Redwood City|        21|         15|
| Redwood City|        22|         25|
| Redwood City|        23|         15|
| Redwood City|        24|         15|
| Redwood City|        25|         15|
| Redwood City|        26|         15|
| Redwood City|        83|         15|
|San Francisco|        39|         19|
+-------------+----------+-----------+
only showing top 20 rows

8. Crea una agregación que sume la columna *dockcount* agregando por *landmark* y *station_id* empleando *GROUPING SETS* que también muestre los totales.

In [38]:
spark.sql("""
    SELECT 
        landmark, 
        station_id, 
        SUM(dockcount) AS total_docks
    FROM estaciones
    GROUP BY GROUPING SETS (
        (landmark), 
        (station_id), 
        (landmark, station_id)
    )
    ORDER BY landmark, station_id
""").show(truncate=False)

+--------+----------+-----------+
|landmark|station_id|total_docks|
+--------+----------+-----------+
|NULL    |2         |27         |
|NULL    |3         |15         |
|NULL    |4         |11         |
|NULL    |5         |19         |
|NULL    |6         |15         |
|NULL    |7         |15         |
|NULL    |8         |15         |
|NULL    |9         |15         |
|NULL    |10        |15         |
|NULL    |11        |19         |
|NULL    |12        |19         |
|NULL    |13        |15         |
|NULL    |14        |19         |
|NULL    |16        |15         |
|NULL    |21        |15         |
|NULL    |22        |25         |
|NULL    |23        |15         |
|NULL    |24        |15         |
|NULL    |25        |15         |
|NULL    |26        |15         |
+--------+----------+-----------+
only showing top 20 rows

9. Haz un rollup de *df_estaciones* con los parámetros *landmark* y *station_id*. Agrega la suma de *dockcount* y selecciona esas tres columnas, almacenando el resultado como *df_enroscado*. Muestra la siguiente información:
  -  a. Todas las filas.
  -  b. Todas las filas en las que *landmark* es NULL.
  -  c. Todas las filas en las que *station_id* es NULL.

In [18]:
from pyspark.sql.functions import sum
df_estaciones.printSchema()
df_enroscado = df_estaciones.rollup("landmark", "station_id").agg(sum("dockcount")).selectExpr("landmark", "station_id", "`sum(dockcount)` as total_dockcount").orderBy("landmark")
print("a. Todas las filas: ")
df_enroscado.show()

print ("b.Todas las filas en las que landmark es nULL: ")
df_enroscado.filter("landmark is NULL").show()

print ("c.Todas las filas en las que station_id es nULL: ")
df_enroscado.filter("station_id is NULL").show()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

a. Todas las filas:
+-------------+----------+---------------+
|     landmark|station_id|total_dockcount|
+-------------+----------+---------------+
|         NULL|      NULL|           1236|
|Mountain View|        31|             15|
|Mountain View|        30|             15|
|Mountain View|        33|             15|
|Mountain View|        29|             23|
|Mountain View|      NULL|            117|
|Mountain View|        28|             23|
|Mountain View|        32|             11|
|Mountain View|        27|             15|
|    Palo Alto|        38|             15|
|    Palo Alto|      NULL|             75|
|    Palo Alto|        36|             15|
|    Palo Alto|        35|             11|
|    Palo Alto|        34|             23|
|    Palo Alto|        37|             11|
| Redwood City|        83|             15|
| Redwood City|        26|             15|
| Redwood City|        23|             15|
| Redwood City|        24|             15|
| Redwood City|        25|             15|
+-------------+----------+---------------+
only showing top 20 rows

b.Todas las filas en las que landmark es nULL:
+--------+----------+---------------+
|landmark|station_id|total_dockcount|
+--------+----------+---------------+
|    NULL|      NULL|           1236|
+--------+----------+---------------+

c.Todas las filas en las que station_id es nULL:
+-------------+----------+---------------+
|     landmark|station_id|total_dockcount|
+-------------+----------+---------------+
|         NULL|      NULL|           1236|
|Mountain View|      NULL|            117|
|    Palo Alto|      NULL|             75|
| Redwood City|      NULL|            115|
|San Francisco|      NULL|            665|
|     San Jose|      NULL|            264|
+-------------+----------+---------------+

 10. Haz un cubo de *df_estaciones* con los parámetros *landmark* y *station_id*. Agrega la suma de *dockcount* y selecciona esas tres columnas, almacenando el resultado como *df_cubo*. Muestra la siguiente información:
  -  a. Todas las filas.
  -  b. Todas las filas en las que *landmark* es NULL.

In [21]:
df_cubo = df_estaciones.cube("landmark", "station_id").agg(sum("dockcount").alias("total_dockcount")).selectExpr("landmark", "station_id", "total_dockcount").orderBy("landmark")
print ("a. Todas las filas: ")
df_cubo.show()

print ("b. Todas las filas en las que landmark es NULL")
df_cubo.filter("landmark is NULL").show()

a. Todas las filas:
+--------+----------+---------------+
|landmark|station_id|total_dockcount|
+--------+----------+---------------+
|    NULL|        74|             23|
|    NULL|         4|             11|
|    NULL|         7|             15|
|    NULL|        69|             23|
|    NULL|         6|             15|
|    NULL|        12|             19|
|    NULL|        48|             15|
|    NULL|        42|             15|
|    NULL|        29|             23|
|    NULL|        25|             15|
|    NULL|        26|             15|
|    NULL|        11|             19|
|    NULL|        37|             11|
|    NULL|        54|             15|
|    NULL|        21|             15|
|    NULL|        62|             19|
|    NULL|        55|             23|
|    NULL|        58|             19|
|    NULL|        57|             15|
|    NULL|        84|             15|
+--------+----------+---------------+
only showing top 20 rows

b. Todas las filas en las que landmark es NULL
+--------+----------+---------------+
|landmark|station_id|total_dockcount|
+--------+----------+---------------+
|    NULL|        58|             19|
|    NULL|        12|             19|
|    NULL|        42|             15|
|    NULL|        48|             15|
|    NULL|        21|             15|
|    NULL|        29|             23|
|    NULL|        62|             19|
|    NULL|        26|             15|
|    NULL|        55|             23|
|    NULL|        37|             11|
|    NULL|        74|             23|
|    NULL|         6|             15|
|    NULL|         7|             15|
|    NULL|        25|             15|
|    NULL|        11|             19|
|    NULL|        57|             15|
|    NULL|        84|             15|
|    NULL|        16|             15|
|    NULL|        54|             15|
|    NULL|        69|             23|
+--------+----------+---------------+
only showing top 20 rows