# Examen Unidad 3
## Parte 1
Responde a las siguientes cuestiones en las celdas correspondientes.
Antes de realizar los ejercicios sube la el contenido de la carpeta "data" a /user/jovyan/data
- hdfs dfs -mkdir -p /user/jovyan/data (si fuera necesario)
- hdfs dfs -put /home/jovyan/work/data/* /user/jovyan/data

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("spark://spark-master:7077") \
    .appName("ExamenUD3") \
    .config("spark.eventLog.enabled", "true") \
    .config("spark.eventLog.dir", "hdfs:///spark/logs/history") \
    .config("spark.history.fs.logDirectory", "hdfs:///spark/logs/history") \
    .getOrCreate()

spark.version  # Verifica la versión de Spark

#spark = SparkSession.builder.getOrCreate()

sc = spark.sparkContext

1. Ejercicio1:
   - a. Crea un rdd llamado rdd_int con los enteros del 0 al 50 (0,5)
   - b. Muestra los 10 primeros elementos (0,5)
   - c. Muestra cuantos elementos son múltiplos de 5 (0,5).

In [ ]:
# a)

In [ ]:
# b)

In [ ]:
# c)

2. Realiza las siguientes acciones.
   - a) Crea un rdd de pares (palabra, 1) llamado rdd_libro a partir del fichero TheFelloshipOfTherRing.txt (0,5)
   - b) Muestra las ocurrencias de cada palabra. (0,5)

In [ ]:
# a)

In [ ]:
# b)

3. Realiza las siguientes operaciones con Dataframes:
   - a. Crea un dataframe llamado sales_df a partir del fichero *sales.csv* teniendo en cuenta la cabecera e infiriendo el esquema.  (0,5)
   - b. Muestra los 10 primeros elementos. (0,5)
   - c. Añade una columna *Total* que multiplique "Quantity Ordered" por "Price Each". (0,5)
   - d. A partir del DF anterior suma la columna "Total" agrupando por "Product".  (1)

In [ ]:
# a)

In [ ]:
# b)

In [ ]:
# c)

In [ ]:
# d)

## Parte 2:
Entrega un archivo aparte (parte2.pdf).

4. Despliegue de aplicaciones spark:
   - a. Crea un programa (ratings.py) que realice las siguientes acciones. ENTREGAR: Captura del programa.
     * Lee los archivos movies.tsv y movie-ratings.tsv infiriendo el esquema y con cabeceras activadas. Usa también la siguiente opción: option("delimiter", "\t"). Almacena el resultado en movies_df y ratings_df respectivamente. (0,25)
     * b. Realiza un inner join sobre el campo "Title" almacenando el resultado como join_df. (0,25)
     * c. Crea un nuevo Dataframe (result_df) a partir de join_df agrupando por "Director" y calculando la media de "Rating".  (0,25)
     * d. Almacena result_df en formato json en el directorio /user/jovyan/salida_examen.  (0,25)
   - b. Ejecuta el programa ratings.py en modo clúster, entregando:
     * Comando, primeras y últimas líneas de la ejecutión en modo cliente. (0,5)
     * Primeras 10 líneas del archivo resultado. (0,5)