# Ejercicios Dataframes 2
Realiza los siguientes ejercicios. Soluciona cada uno de ellos empleando la DataFrame API y Spark SQL
1. Inicializa la variable spark (0)

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext


#Hay que usar agregaciones, entre otras cosas

2. Crea un dataframe llamado mi_df con los datos del archivo *data/retail-data/all/online-retail-dataset.csv* (0)

In [2]:
#DataFrame API
mi_df = spark.read.option("header", True).csv('data/all/online-retail-dataset.csv') #Si tiene un header, hay que poner option("header", True) o si no se come los headers y se los inventa
mi_df.show()
#SQL
mi_df.createOrReplaceTempView("retail")

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|12/1/2010 8:26|     2.75|     17850|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
|   536365|    22752|SET 7 BABUSHKA NE...|       2|12/1/2010 8:26|     7.65|     17850|United Kingdom|
|   536365|    21730|GLASS STAR FROSTE...|       6|12/1/2010 8:26|     4.25|     17850|United Kingdom|
|   536366|    22633|HAND WARMER UNION...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536366|    22632|HAND WARMER RED P...|       6|12/1/2010 8:28|     1.85|     17850|United Kingdom|
|   536367|    84879|ASSORTED COLOUR B...|      32|12/1/2010 8:34|     1.69|     13047|United Kingdom|
|   536367|    22745|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22748|POPPY'S PLAYHOUSE...|       6|12/1/2010 8:34|      2.1|     13047|United Kingdom|
|   536367|    22749|FELTCRAFT PRINCES...|       8|12/1/2010 8:34|     3.75|     13047|United Kingdom|
|   536367|    22310|IVORY KNITTED MUG...|       6|12/1/2010 8:34|     1.65|     13047|United Kingdom|
|   536367|    84969|BOX OF 6 ASSORTED...|       6|12/1/2010 8:34|     4.25|     13047|United Kingdom|
|   536367|    22623|BOX OF VINTAGE JI...|       3|12/1/2010 8:34|     4.95|     13047|United Kingdom|
|   536367|    22622|BOX OF VINTAGE AL...|       2|12/1/2010 8:34|     9.95|     13047|United Kingdom|
|   536367|    21754|HOME BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21755|LOVE BUILDING BLO...|       3|12/1/2010 8:34|     5.95|     13047|United Kingdom|
|   536367|    21777|RECIPE BOX WITH M...|       4|12/1/2010 8:34|     7.95|     13047|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 20 rows

3. Cuenta el número de celdas totales

In [3]:
from pyspark.sql.functions import count
#DataFrame API
mi_df.select(count("*")).show()

#SQL
spark.sql("SELECT COUNT(*) AS NumCeldasTotales FROM retail").show(10)

+--------+
|count(1)|
+--------+
|  541909|
+--------+

+----------------+
|NumCeldasTotales|
+----------------+
|          541909|
+----------------+

4. Cuenta el número de "invoiceNo" distintos

In [4]:
from pyspark.sql.functions import countDistinct
#DataFrame API
mi_df.select(countDistinct("invoiceNo")).show()

#SQL
spark.sql("SELECT COUNT(DISTINCT invoiceNo) AS NumInvoices FROM retail").show()

+-------------------------+
|count(DISTINCT invoiceNo)|
+-------------------------+
|                    25900|
+-------------------------+

+-----------+
|NumInvoices|
+-----------+
|      25900|
+-----------+

5. Obtén el número de factura más bajo y el más alto

In [5]:
from pyspark.sql.functions import max,min
#DataFrame API
mi_df.select(max("invoiceNo"),min("invoiceNo")).show()

#SQL
spark.sql("SELECT MIN(InvoiceNo) AS NumFacturaMin, MAX(InvoiceNo) AS NumFacturaMax FROM retail").show()

+--------------+--------------+
|max(invoiceNo)|min(invoiceNo)|
+--------------+--------------+
|       C581569|        536365|
+--------------+--------------+

+-------------+-------------+
|NumFacturaMin|NumFacturaMax|
+-------------+-------------+
|       536365|      C581569|
+-------------+-------------+

6. Obtén la suma de todos los importes unitarios de los productos vendidos en el Reino Unido

In [6]:
from pyspark.sql.functions import sum, sum_distinct, col
#DataFrame API
#mi_df.select(sum("UnitPrice")).filter("Country = 'United Kingdom'")
mi_df.filter(col("Country") == "United Kingdom").agg(sum("UnitPrice").alias("SumaImportesUnitarios")).show()

#SQL
spark.sql("SELECT SUM(UnitPrice) AS TotalSum FROM retail WHERE Country = 'United Kingdom'").show()

+---------------------+
|SumaImportesUnitarios|
+---------------------+
|    2245715.474000284|
+---------------------+

+-----------------+
|         TotalSum|
+-----------------+
|2245715.474000284|
+-----------------+

7. Obtén la media de todos los importes unitarios de los productos vendidos en el Reino Unido

In [7]:
from pyspark.sql.functions import avg, col
#DataFrame API
media_importes_unitarios_df = mi_df.filter(col("Country") == "United Kingdom").agg(avg("UnitPrice").alias("MediaImportesUnitarios"))
media_importes_unitarios_df.show()

#SQL
spark.sql("SELECT AVG(UnitPrice) AS MediaImportesUnitarios FROM retail WHERE Country = 'United Kingdom'").show()

+----------------------+
|MediaImportesUnitarios|
+----------------------+
|     4.532422174143522|
+----------------------+

+----------------------+
|MediaImportesUnitarios|
+----------------------+
|     4.532422174143522|
+----------------------+

8. Obtén la el número total de productos vendidos (quantity) agrupado por países (muestra los 10 primeros)

In [8]:
#DataFrame API
total_productos_por_pais_df = mi_df.groupBy("Country").agg(sum("Quantity").alias("TotalProductosVendidos")).orderBy("TotalProductosVendidos", ascending=False)
total_productos_por_pais_df.show(10)

#SQL
spark.sql("SELECT Country, SUM(Quantity) AS TotalProductosVendidos FROM retail GROUP BY Country ORDER BY TotalProductosVendidos DESC").show(10)

+--------------+----------------------+
|       Country|TotalProductosVendidos|
+--------------+----------------------+
|United Kingdom|             4263829.0|
|   Netherlands|              200128.0|
|          EIRE|              142637.0|
|       Germany|              117448.0|
|        France|              110480.0|
|     Australia|               83653.0|
|        Sweden|               35637.0|
|   Switzerland|               30325.0|
|         Spain|               26824.0|
|         Japan|               25218.0|
+--------------+----------------------+
only showing top 10 rows

+--------------+----------------------+
|       Country|TotalProductosVendidos|
+--------------+----------------------+
|United Kingdom|             4263829.0|
|   Netherlands|              200128.0|
|          EIRE|              142637.0|
|       Germany|              117448.0|
|        France|              110480.0|
|     Australia|               83653.0|
|        Sweden|               35637.0|
|   Switzerland|               30325.0|
|         Spain|               26824.0|
|         Japan|               25218.0|
+--------------+----------------------+
only showing top 10 rows

9. Obtén la media de los precios unitarios de los productos vendidos agrupada por países

In [9]:
#DataFrame API
media_por_pais_df = mi_df.groupBy("Country").agg(avg("UnitPrice").alias("MediaPreciosUnitarios"))
media_por_pais_df.show()

#SQL
spark.sql("SELECT Country, AVG(UnitPrice) AS MediaPreciosUnitarios FROM retail GROUP BY Country").show()

+---------------+---------------------+
|        Country|MediaPreciosUnitarios|
+---------------+---------------------+
|         Sweden|    3.910887445887446|
|        Germany|    3.966929963138483|
|         France|    5.028864087881269|
|        Belgium|   3.6443354277428717|
|        Finland|    5.448705035971222|
|          Italy|    4.831120797011208|
|           EIRE|    5.911077354807235|
|      Lithuania|   2.8411428571428576|
|         Norway|   6.0120257826887675|
|          Spain|    4.987544413738654|
|        Denmark|     3.25694087403599|
|        Iceland|   2.6440109890109897|
|         Israel|   3.6331313131313143|
|Channel Islands|    4.932124010554089|
|         Cyprus|    6.302363344051452|
|    Switzerland|     3.40344155844156|
|          Japan|   2.2761452513966476|
|         Poland|    4.170879765395893|
|       Portugal|     8.58297564186965|
|      Australia|   3.2206115965051607|
+---------------+---------------------+
only showing top 20 rows

+---------------+---------------------+
|        Country|MediaPreciosUnitarios|
+---------------+---------------------+
|         Sweden|    3.910887445887446|
|        Germany|    3.966929963138483|
|         France|    5.028864087881269|
|        Belgium|   3.6443354277428717|
|        Finland|    5.448705035971222|
|          Italy|    4.831120797011208|
|           EIRE|    5.911077354807235|
|      Lithuania|   2.8411428571428576|
|         Norway|   6.0120257826887675|
|          Spain|    4.987544413738654|
|        Denmark|     3.25694087403599|
|        Iceland|   2.6440109890109897|
|         Israel|   3.6331313131313143|
|Channel Islands|    4.932124010554089|
|         Cyprus|    6.302363344051452|
|    Switzerland|     3.40344155844156|
|          Japan|   2.2761452513966476|
|         Poland|    4.170879765395893|
|       Portugal|     8.58297564186965|
|      Australia|   3.2206115965051607|
+---------------+---------------------+
only showing top 20 rows

10. Obtén el importe total (quantity * unit price) agrupado por número de factura (invoiceNo)

In [10]:
from pyspark.sql.functions import expr
#DataFrame API
total_por_factura_df = mi_df.withColumn("ImporteTotal", expr("Quantity * UnitPrice")).groupBy("InvoiceNo").agg(sum("ImporteTotal").alias("ImporteTotal"))
total_por_factura_df.show()

#SQL
spark.sql("SELECT InvoiceNo, SUM(Quantity * UnitPrice) AS ImporteTotal FROM retail GROUP BY InvoiceNo").show()

+---------+------------------+
|InvoiceNo|      ImporteTotal|
+---------+------------------+
|   536596|             38.09|
|   536938|1680.8799999999999|
|   537252|26.349999999999998|
|   537691|            310.57|
|   538041|               0.0|
|   538184|458.91999999999985|
|   538517|320.28000000000003|
|   538879| 338.9799999999999|
|   539275|403.79999999999995|
|   539630|             751.0|
|   540499|             365.2|
|   536597|            102.79|
|   536608|              38.1|
|   536765|               0.0|
|   537439|               0.0|
|   537631|              17.4|
|   537870|               0.0|
|   538142|               0.0|
|   538177| 6272.010000000006|
|   538308|            363.24|
+---------+------------------+
only showing top 20 rows

+---------+------------------+
|InvoiceNo|      ImporteTotal|
+---------+------------------+
|   536596|             38.09|
|   536938|1680.8799999999999|
|   537252|26.349999999999998|
|   537691|            310.57|
|   538041|               0.0|
|   538184|458.91999999999985|
|   538517|320.28000000000003|
|   538879| 338.9799999999999|
|   539275|403.79999999999995|
|   539630|             751.0|
|   540499|             365.2|
|   536597|            102.79|
|   536608|              38.1|
|   536765|               0.0|
|   537439|               0.0|
|   537631|              17.4|
|   537870|               0.0|
|   538142|               0.0|
|   538177| 6272.010000000006|
|   538308|            363.24|
+---------+------------------+
only showing top 20 rows

11. Crea un DataFrame para cada archivo de notas (notas_fisica, notas_ingles y notas_matemáticas). Realiza un Join que genere un DataFrame mostrando las tres notas para cada alumno. (sólo mostrar los alumnos que tengan nota en las 3 asignaturas)

In [11]:
#DataFrame API
notas_fisica_df = spark.read.csv("data/notas/notas_fisica.txt", header=False, inferSchema=True).toDF("alumno", "nota_fisica")
notas_ingles_df = spark.read.csv("data/notas/notas_ingles.txt", header=False, inferSchema=True).toDF("alumno", "nota_ingles")
notas_mates_df = spark.read.csv("data/notas/notas_mates.txt", header=False, inferSchema=True).toDF("alumno", "nota_mates")

join_df = notas_fisica_df.join(notas_ingles_df, "alumno", "inner").join(notas_mates_df, "alumno", "inner")

alumnos_notas_df = join_df.filter(
    col("nota_fisica").isNotNull() & col("nota_ingles").isNotNull() & col("nota_mates").isNotNull()
)

alumnos_notas_df.show()

#SQL
notas_fisica_df.createOrReplaceTempView("notas_fisica")
notas_ingles_df.createOrReplaceTempView("notas_ingles")
notas_mates_df.createOrReplaceTempView("notas_mates")

consulta_sql = """
    SELECT notas_fisica.alumno, nota_fisica, nota_ingles, nota_mates
    FROM notas_fisica
    JOIN notas_ingles ON notas_fisica.alumno = notas_ingles.alumno
    JOIN notas_mates ON notas_fisica.alumno = notas_mates.alumno
    WHERE nota_fisica IS NOT NULL AND nota_ingles IS NOT NULL AND nota_mates IS NOT NULL
"""

spark.sql(consulta_sql).show()

+---------+-----------+-----------+----------+
|   alumno|nota_fisica|nota_ingles|nota_mates|
+---------+-----------+-----------+----------+
|    Angel|          9|          4|       6.0|
|    Maria|          3|          6|       2.0|
|    Ramon|          7|          8|       4.5|
|    Jorge|          5|          5|      10.0|
|   Susana|          9|          2|       9.0|
|   Anabel|          2|          7|       8.0|
|    Rocio|          5|          4|       6.0|
|   Carlos|          4|          8|       4.0|
|    Rocio|          7|          4|       6.0|
|   Triana|          3|          4|       3.0|
|   Andres|          4|          6|       4.0|
| Fernando|          9|          7|       5.0|
| Leonardo|          6|          4|       1.0|
|    Oscar|          5|          3|       7.0|
|   Isabel|          8|          7|       8.0|
|Jose Juan|          3|          3|       5.0|
|  Nicolas|          7|          5|       2.0|
|Alejandro|          3|          7|       5.0|
|     Rosa|          8|          9|       6.0|
+---------+-----------+-----------+----------+

+---------+-----------+-----------+----------+
|   alumno|nota_fisica|nota_ingles|nota_mates|
+---------+-----------+-----------+----------+
|    Angel|          9|          4|       6.0|
|    Maria|          3|          6|       2.0|
|    Ramon|          7|          8|       4.5|
|    Jorge|          5|          5|      10.0|
|   Susana|          9|          2|       9.0|
|   Anabel|          2|          7|       8.0|
|    Rocio|          5|          4|       6.0|
|   Carlos|          4|          8|       4.0|
|    Rocio|          7|          4|       6.0|
|   Triana|          3|          4|       3.0|
|   Andres|          4|          6|       4.0|
| Fernando|          9|          7|       5.0|
| Leonardo|          6|          4|       1.0|
|    Oscar|          5|          3|       7.0|
|   Isabel|          8|          7|       8.0|
|Jose Juan|          3|          3|       5.0|
|  Nicolas|          7|          5|       2.0|
|Alejandro|          3|          7|       5.0|
|     Rosa|          8|          9|       6.0|
+---------+-----------+-----------+----------+

12. Crea un DataFrame para cada archivo de notas (notas_fisica, notas_ingles y notas_matemáticas). Realiza un Join que genere un DataFrame mostrando las tres notas para cada alumno. Si a un alumno le falta alguna de las notas aparecerá el valor NULL

In [12]:
#DataFrame API
join_df = notas_fisica_df.join(notas_ingles_df, ["alumno"], "full_outer").join(notas_mates_df, ["alumno"], "full_outer")
join_df.show()

#SQL
consulta_sql = """
    SELECT notas_fisica.alumno, nota_fisica, nota_ingles, nota_mates
    FROM notas_fisica
    FULL OUTER JOIN notas_ingles ON notas_fisica.alumno = notas_ingles.alumno
    FULL OUTER JOIN notas_mates ON notas_fisica.alumno = notas_mates.alumno
"""

spark.sql(consulta_sql).show()

+---------+-----------+-----------+----------+
|   alumno|nota_fisica|nota_ingles|nota_mates|
+---------+-----------+-----------+----------+
|Alejandro|          3|          7|       5.0|
|   Anabel|          2|          7|       8.0|
|   Andres|          4|          6|       4.0|
|    Angel|          9|          4|       6.0|
|   Carlos|          4|          8|       4.0|
| Fernando|          9|          7|       5.0|
|   Isabel|          8|          7|       8.0|
|    Jorge|          5|          5|      10.0|
|Jose Juan|          3|          3|       5.0|
| Leonardo|          6|          4|       1.0|
|    Maria|          3|          6|       2.0|
|  Nicolas|          7|          5|       2.0|
|    Oscar|          5|          3|       7.0|
|    Pedro|          2|       NULL|       5.0|
|    Ramon|          7|          8|       4.5|
|    Rocio|          5|          4|       6.0|
|    Rocio|          7|          4|       6.0|
|     Rosa|          8|          9|       6.0|
|   Susana|          9|          2|       9.0|
|   Triana|          3|          4|       3.0|
+---------+-----------+-----------+----------+

+---------+-----------+-----------+----------+
|   alumno|nota_fisica|nota_ingles|nota_mates|
+---------+-----------+-----------+----------+
|Alejandro|          3|          7|       5.0|
|   Anabel|          2|          7|       8.0|
|   Andres|          4|          6|       4.0|
|    Angel|          9|          4|       6.0|
|   Carlos|          4|          8|       4.0|
| Fernando|          9|          7|       5.0|
|   Isabel|          8|          7|       8.0|
|    Jorge|          5|          5|      10.0|
|Jose Juan|          3|          3|       5.0|
| Leonardo|          6|          4|       1.0|
|    Maria|          3|          6|       2.0|
|  Nicolas|          7|          5|       2.0|
|    Oscar|          5|          3|       7.0|
|    Pedro|          2|       NULL|       5.0|
|    Ramon|          7|          8|       4.5|
|    Rocio|          5|          4|       6.0|
|    Rocio|          7|          4|       6.0|
|     Rosa|          8|          9|       6.0|
|   Susana|          9|          2|       9.0|
|   Triana|          3|          4|       3.0|
+---------+-----------+-----------+----------+